In [40]:
import pandas as pd
from sqlalchemy import create_engine

In [41]:
engine = create_engine('postgresql+psycopg2://postgres:intel@localhost/postgres')

In [42]:
df_trades = pd.read_sql_query('SELECT * FROM "trades"', con=engine)

In [43]:
df_countries = pd.read_json('./data/country_data.json')

In [44]:
df_codes = pd.read_csv('./data/hs_codes.csv')

In [45]:
df_trades.head()

,country_code,year,comm_code,flow,trade_usd,kg,quantity,quantity_name
0,SYC,1998,890200,Import,1431426.0,0.0,23000.0,Number of items
1,SYC,1998,890310,Import,31406.0,0.0,2545.0,Number of items
2,SYC,1998,890310,Export,950.0,0.0,300.0,Number of items
3,SYC,1998,890310,Re-Export,950.0,0.0,300.0,Number of items
4,SYC,1998,890391,Import,18251.0,0.0,450.0,Number of items

In [46]:
df_codes.head()

,Order,Level,Code,Parent,Code_comm,Parent.1,Description_complex,Description
0,1654555,1,0,NaN,NaN,NaN,This classification has been uploaded in RAMON...,This classification has been uploaded in RAMON...
1,1654556,1,10011000090,NaN,I,NaN,SECTION I - LIVE ANIMALS; ANIMAL PRODUCTS,LIVE ANIMALS; ANIMAL PRODUCTS
2,1654557,2,10021000090,1.001100e+10,1,I,CHAPTER 1 - LIVE ANIMALS,LIVE ANIMALS
3,1654558,3,10100000080,1.002100e+10,1.01,1,"Live horses, asses, mules and hinnies","Live horses, asses, mules and hinnies"
4,1654559,4,10121000010,1.010000e+10,NaN,1.01,- Horses,NaN

In [47]:
df_countries.head()

,country,images_file,image_url,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,Flag_of_Afghanistan.svg,https://upload.wikimedia.org/wikipedia/commons...,AF,AFG,4.0,ISO 3166-2:AF,Asia,Southern Asia,None,142.0,34.0,NaN
1,Albania,Flag_of_Albania.svg,https://upload.wikimedia.org/wikipedia/commons...,AL,ALB,8.0,ISO 3166-2:AL,Europe,Southern Europe,None,150.0,39.0,NaN
2,Algeria,Flag_of_Algeria.svg,https://upload.wikimedia.org/wikipedia/commons...,DZ,DZA,12.0,ISO 3166-2:DZ,Africa,Northern Africa,None,2.0,15.0,NaN
3,Andorra,Flag_of_Andorra.svg,https://upload.wikimedia.org/wikipedia/commons...,AD,AND,20.0,ISO 3166-2:AD,Europe,Southern Europe,None,150.0,39.0,NaN
4,Angola,Flag_of_Angola.svg,https://upload.wikimedia.org/wikipedia/commons...,AO,AGO,24.0,ISO 3166-2:AO,Africa,Sub-Saharan Africa,Middle Africa,2.0,202.0,17.0

In [48]:
df_parents = df_codes[df_codes['Level'] == 2].copy()
df_parents.head()

,Order,Level,Code,Parent,Code_comm,Parent.1,Description_complex,Description
2,1654557,2,10021000090,1.001100e+10,1,I,CHAPTER 1 - LIVE ANIMALS,LIVE ANIMALS
52,1654607,2,20021000090,1.001100e+10,2,I,CHAPTER 2 - MEAT AND EDIBLE MEAT OFFAL,MEAT AND EDIBLE MEAT OFFAL
140,1654695,2,30021000090,1.001100e+10,3,I,"CHAPTER 3 - FISH AND CRUSTACEANS, MOLLUSCS AND...","FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUAT..."
416,1654971,2,40021000090,1.001100e+10,4,I,CHAPTER 4 - DAIRY PRODUCE; BIRDS' EGGS; NATURA...,DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDI...
463,1655018,2,50021000090,1.001100e+10,5,I,"CHAPTER 5 - PRODUCTS OF ANIMAL ORIGIN, NOT ELS...","PRODUCTS OF ANIMAL ORIGIN, NOT ELSEWHERE SPECI..."

In [49]:
# Limpiando
df_codes = df_codes[df_codes['Code_comm'].notnull()]

In [50]:
def clean_code(text):
    text = str(text)
    parent_code = None

    if len(text) == 11:
        code = text[:5]
        parent_code = text[:1]
    else:
        code = text[:6]
        parent_code = text[:2]

    try:
        parent = df_parents[df_parents['Code_comm'] == parent_code]['Description'].values[0]
    except:
        parent = None


    return (code, parent)

In [51]:
df_codes[['clean_code', 'parent_description']] = df_codes.apply(
    lambda x:  clean_code(x['Code']),
    axis=1,
    result_type='expand'
)

In [52]:
df_codes

,Order,Level,Code,Parent,Code_comm,Parent.1,Description_complex,Description,clean_code,parent_description
1,1654556,1,10011000090,NaN,I,NaN,SECTION I - LIVE ANIMALS; ANIMAL PRODUCTS,LIVE ANIMALS; ANIMAL PRODUCTS,10011,LIVE ANIMALS
2,1654557,2,10021000090,1.001100e+10,1,I,CHAPTER 1 - LIVE ANIMALS,LIVE ANIMALS,10021,LIVE ANIMALS
3,1654558,3,10100000080,1.002100e+10,1.01,1,"Live horses, asses, mules and hinnies","Live horses, asses, mules and hinnies",10100,LIVE ANIMALS
5,1654560,5,10121000080,1.012100e+10,101.21,NaN,-- Pure-bred breeding animals,Pure-bred breeding horses,10121,LIVE ANIMALS
6,1654561,5,10129000080,1.012100e+10,101.29,NaN,-- Other,Live horses (excl. pure-bred for breeding),10129,LIVE ANIMALS
...,...,...,...,...,...,...,...,...,...,...
7432,1661987,3,970200000080,9.700210e+11,9702,97,"Original engravings, prints and lithographs","Original engravings, prints and lithographs",970200,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7433,1661988,3,970300000080,9.700210e+11,9703,97,"Original sculptures and statuary, in any material","Original sculptures and statuary, in any material",970300,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7434,1661989,3,970400000080,9.700210e+11,9704,97,"Postage or revenue stamps, stamp-postmarks, fi...","Postage or revenue stamps, stamp-postmarks, fi...",970400,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7435,1661990,3,970500000080,9.700210e+11,9705,97,Collections and collectors' pieces of zoologic...,Collections and collector's pieces of zoologic...,970500,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"
7436,1661991,3,970600000080,9.700210e+11,9706,97,Antiques of an age exceeding 100 years,Antiques of > 100 years old,970600,"WORKS OF ART, COLLECTORS' PIECES AND ANTIQUES"

In [53]:
df_codes = df_codes[df_codes['clean_code'].notnull()][['clean_code', 'Description', 'parent_description']]

In [54]:
df_codes['id_code'] = df_codes.index + 1

In [55]:
df_codes['clean_code'] = df_codes['clean_code'].astype('int64')

In [56]:
df_countries = df_countries[['alpha-3', 'country', 'region', 'sub-region']]

In [57]:
df_countries = df_countries[df_countries['alpha-3'].notnull()]

In [58]:
df_countries['id_country'] = df_countries.index + 1

In [59]:
df_trades_clean = df_trades.merge(df_codes[['clean_code','id_code']], how='left', left_on='comm_code', right_on='clean_code')

In [60]:
df_trades_clean

,country_code,year,comm_code,flow,trade_usd,kg,quantity,quantity_name,clean_code,id_code
0,SYC,1998,890200,Import,1431426.0,0.0,23000.0,Number of items,890200,6929
1,SYC,1998,890310,Import,31406.0,0.0,2545.0,Number of items,890310,6931
2,SYC,1998,890310,Export,950.0,0.0,300.0,Number of items,890310,6931
3,SYC,1998,890310,Re-Export,950.0,0.0,300.0,Number of items,890310,6931
4,SYC,1998,890391,Import,18251.0,0.0,450.0,Number of items,890391,6933
...,...,...,...,...,...,...,...,...,...,...
6216348,SYC,1999,890590,Import,3399.0,0.0,283.0,Number of items,890590,6940
6216349,SYC,1999,890600,Import,816.0,0.0,199.0,Number of items,890600,6941
6216350,SYC,1999,890710,Import,31387.0,0.0,1325.0,Number of items,890710,6945
6216351,SYC,1999,890790,Import,8749.0,0.0,1566.0,Number of items,890790,6946
6216352,SYC,1998,890110,Import,1162965.0,0.0,59920.0,Number of items,890110,6925

In [61]:
df_trades_clean = df_trades_clean.merge(df_countries[['alpha-3','id_country']], how='left', left_on='country_code', right_on='alpha-3')

In [62]:
df_trades_clean

,country_code,year,comm_code,flow,trade_usd,kg,quantity,quantity_name,clean_code,id_code,alpha-3,id_country
0,SYC,1998,890200,Import,1431426.0,0.0,23000.0,Number of items,890200,6929,SYC,155
1,SYC,1998,890310,Import,31406.0,0.0,2545.0,Number of items,890310,6931,SYC,155
2,SYC,1998,890310,Export,950.0,0.0,300.0,Number of items,890310,6931,SYC,155
3,SYC,1998,890310,Re-Export,950.0,0.0,300.0,Number of items,890310,6931,SYC,155
4,SYC,1998,890391,Import,18251.0,0.0,450.0,Number of items,890391,6933,SYC,155
...,...,...,...,...,...,...,...,...,...,...,...,...
6216348,SYC,1999,890590,Import,3399.0,0.0,283.0,Number of items,890590,6940,SYC,155
6216349,SYC,1999,890600,Import,816.0,0.0,199.0,Number of items,890600,6941,SYC,155
6216350,SYC,1999,890710,Import,31387.0,0.0,1325.0,Number of items,890710,6945,SYC,155
6216351,SYC,1999,890790,Import,8749.0,0.0,1566.0,Number of items,890790,6946,SYC,155
6216352,SYC,1998,890110,Import,1162965.0,0.0,59920.0,Number of items,890110,6925,SYC,155

In [63]:
def create_dimension(dataframe, id_name):
    list_keys = []
    value = 1
    for _ in dataframe[id_name].unique():
        list_keys.append(value)
        value += 1
    return pd.DataFrame({id_name: list_keys, 'values': dataframe[id_name].unique()})

In [64]:
df_quantity_name = create_dimension(df_trades_clean, 'quantity_name')
df_flow = create_dimension(df_trades_clean, 'flow')
df_year = create_dimension(df_trades_clean, 'year')
print(df_quantity_name)
print(df_flow)
print(df_year)

    quantity_name                          values
0               1                 Number of items
1               2             Weight in kilograms
2               3                     No Quantity
3               4                Volume in litres
4               5                 Number of pairs
5               6              Number of packages
6               7                Length in metres
7               8           Area in square metres
8               9  Electrical energy in thousands
9              10          Volume in cubic meters
10             11              Thousands of items
11             12                Weight in carats
   flow     values
0     1     Import
1     2     Export
2     3  Re-Export
3     4  Re-Import
    year  values
0      1    1998
1      2    1997
2      3    1996
3      4    1995
4      5    1994
5      6    2016
6      7    2015
7      8    2014
8      9    2002
9     10    2000
10    11    2013
11    12    2012
12    13    2011
13    14    2010
14    15    2009
15    16    2008
16    17    2007
17    18    2006
18    19    2005
19    20    2004
20    21    2003
21    22    2001
22    23    1999
23    24    1993
24    25    1992
25    26    1991
26    27    1990
27    28    1989
28    29    1988

In [65]:
df_trades_clean = df_trades_clean.merge(df_quantity_name, how='left', left_on='quantity_name', right_on='values')
df_trades_clean = df_trades_clean.merge(df_flow, how='left', left_on='flow', right_on='values')
df_trades_clean = df_trades_clean.merge(df_year, how='left', left_on='year', right_on='values')
df_trades_clean

,country_code,year_x,comm_code,flow_x,trade_usd,kg,quantity,quantity_name_x,clean_code,id_code,alpha-3,id_country,quantity_name_y,values_x,flow_y,values_y,year_y,values
0,SYC,1998,890200,Import,1431426.0,0.0,23000.0,Number of items,890200,6929,SYC,155,1,Number of items,1,Import,1,1998
1,SYC,1998,890310,Import,31406.0,0.0,2545.0,Number of items,890310,6931,SYC,155,1,Number of items,1,Import,1,1998
2,SYC,1998,890310,Export,950.0,0.0,300.0,Number of items,890310,6931,SYC,155,1,Number of items,2,Export,1,1998
3,SYC,1998,890310,Re-Export,950.0,0.0,300.0,Number of items,890310,6931,SYC,155,1,Number of items,3,Re-Export,1,1998
4,SYC,1998,890391,Import,18251.0,0.0,450.0,Number of items,890391,6933,SYC,155,1,Number of items,1,Import,1,1998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6216348,SYC,1999,890590,Import,3399.0,0.0,283.0,Number of items,890590,6940,SYC,155,1,Number of items,1,Import,23,1999
6216349,SYC,1999,890600,Import,816.0,0.0,199.0,Number of items,890600,6941,SYC,155,1,Number of items,1,Import,23,1999
6216350,SYC,1999,890710,Import,31387.0,0.0,1325.0,Number of items,890710,6945,SYC,155,1,Number of items,1,Import,23,1999
6216351,SYC,1999,890790,Import,8749.0,0.0,1566.0,Number of items,890790,6946,SYC,155,1,Number of items,1,Import,23,1999
6216352,SYC,1998,890110,Import,1162965.0,0.0,59920.0,Number of items,890110,6925,SYC,155,1,Number of items,1,Import,1,1998

In [66]:
df_trades_clean['id_trades'] = df_trades_clean.index + 1

In [67]:
df_trades_clean = df_trades_clean[['id_trades', 'trade_usd', 'kg', 'quantity', 'id_code', 'id_country','quantity_name_y','flow_y','year_y']].copy()

In [68]:
df_trades_clean.rename(columns={'quantity_name_y': 'id_quantity_name', 'flow_y': 'id_flow', 'year_y': 'id_year'}, inplace=True)

In [69]:
df_trades_final = df_trades_clean

In [70]:
df_countries = df_countries[['id_country' ,'alpha-3','country', 'region', 'sub-region']]

In [71]:
df_codes = df_codes[['id_code', 'clean_code', 'Description', 'parent_description']]

In [101]:
df_trades_final.to_csv('./data/stage/trades.csv', index=False, sep='|')
df_countries.rename(columns={'alpha-3': 'alpha_3'}, inplace=True)
df_countries.to_csv('./data/stage/countries.csv', index=False, sep='|')
df_codes.rename(columns={'Description': 'description'}, inplace=True)
df_codes.to_csv('./data/stage/codes.csv', index=False, sep='|')
df_quantity_name.to_csv('./data/stage/quantity.csv', index=False, sep='|')
df_flow.to_csv('./data/stage/flow.csv', index=False, sep='|')
df_year.to_csv('./data/stage/years.csv', index=False, sep='|')